.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -7rem;
}

.project-list:hover .ProjectBar:not(:hover) h1,
.project-list:hover .ProjectBar:not(:hover) h2,
.project-list:hover .ProjectBar:not(:hover) p {
    color: var(--unhighlighted-text)
}

.project-list .ProjectBar:hover h1,
.project-list .ProjectBar:hover h2 {
    transform: translateX(5rem);
}

.wrapper h1,
.wrapper h2,
.wrapper p {
    transition: color 0.3s ease, transform 0.4s ease;
}

.Projects h3 {
    width: 96vw;
    padding-bottom: 1.4rem;

    color: var(--primary-text);
    font-size: 1.45rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-style: italic;
}