.About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About a,
.About h4 {
    color: var(--primary-text);
}

.About h3 {
    width: 96vw;
    padding-bottom: 1.35rem;

    color: var(--primary-text);
    font-size: 1.45rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-style: italic;
}

.About .about-content {
    width: 96vw;
    display: flex;
}

.About .about-me {
    width: 50%;
    font-family: "Imbue", serif;
    font-size: 3.75rem;
    color: var(--primary-text);
    padding-right: 11rem;
}

.About .about-me span {
    color: var(--primary-text);
    text-decoration: underline;
    text-decoration-thickness: 0.19rem;
    text-underline-offset: 0.45rem;
}

.About .about-tech {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.about-tech > div {
    display: flex;
    flex-direction: column;
}

.About .tech-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-bottom: 0.75rem;
}

.about-tech .underline-text {
    font-family: "Imbue", serif;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 600;
    white-space: nowrap;
}

.underline-text {
    position: relative;
    display: inline;
}

.About .about-edu,
.About .about-exp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.About .about-edu h5,
.About .about-exp h5 {
    color: var(--primary-text);
    font-family: "Imbue", serif;
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.About .about-edu p,
.About .about-exp p {
    font-family: "Imbue", serif;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-text);
    line-height: 1.5rem;
    width: 19rem;
}
