.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20rem;
}

.About p,
.About h4 {
    color: #fff;
}

.About h3 {
    width: 96vw;
    padding-top: 10rem;
    padding-bottom: 1.8rem;

    color: white;
    font-size: 1.9rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-style: italic;
}

.About .about-content {
    width: 96vw;
    display: flex;
}

.About .about-me {
    width: 50%;
    font-family: "Imbue", serif;
    font-size: 5rem;
    color: #ffffff;
    padding-right: 15rem;
}

.About .about-me span {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.6rem;
}

.About .about-tech {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.About .tech-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.About .about-tech p {
    font-family: "Imbue", serif;
    font-size: 2.3rem;
    line-height: 2.6rem;
    font-weight: 600;
    width: 16rem;
}

.About .about-edu, .About .about-exp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.About .about-edu h5, .About .about-exp h5 {
    color: white;
    font-family: "Imbue", serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.About .about-edu p, .About .about-exp p {
    font-family: "Imbue", serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #a8a8a8;
    line-height: 2rem;
    width: 25rem;
}
