.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact > h3 {
    width: 96vw;
    padding-bottom: 1.35rem;

    color: var(--primary-text);
    font-size: 1.45rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-style: italic;
}

.Contact .contact-content {
    width: 96vw;
    display: flex;
    gap: 15%;
}

.contact-content .left-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content h1 {
    font-family: "Imbue", serif;
    font-size: 7rem;
    color: var(--primary-text);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}

.contact-content .icon-container {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    width: 90%;
}

.contact-content .icon-container a {
    cursor: pointer;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-grow: 1;
    gap: 1rem;
}

.form .first-name,
.form .last-name,
.form .email,
.form .phone {
    grid-column: auto / span 1;
}

.form .message {
    grid-column: auto / span 2;
    padding-top: 1rem;
}

.form .form-bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: auto / span 2;

    padding-top: 2rem;
}

.form input,
.form textarea {
    height: 100%;
    margin: 0;
    padding: 0;
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-text);
    color: var(--primary-text);
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-style: italic;
}

.form input {
    width: 90%;
}

.form textarea {
    width: 95%;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-bottom: 1.5px solid var(--primary-text);
    margin-bottom: -1.5px !important;
}

.form button {
    position: relative;
    background-color: transparent;
    color: var(--primary-text);
    height: 2rem;
    width: 13%;
    border: 0.1rem solid var(--primary-text);
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}

.form button::before {
    content: "Submit";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--bg);
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    background-color: var(--primary-text);
    transition: clip-path 0.35s;
    clip-path: polygon(0 0, 10% 0, 0% 100%, 0% 100%);
}

.form button:hover::before {
    clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
}

.form p {
    color: var(--primary-text);
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    padding-left: 2rem;
}
