.Navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    width: 96vw;
    height: 4rem;
    transform: translateX(-50%);
    background-color: #10161e;
    border-bottom: 0.1rem solid white;

    z-index: 100;
}

.Navbar p,
.Navbar a {
    font-family: "Imbue", serif;
    color: white;
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 1rem;
    text-decoration: none;
}

.Navbar .left p {
    padding-right: 1.5rem;
}

.Navbar .right a {
    padding-left: 1.5rem;
}

.Navbar > div {
    display: flex;
}

.Navbar > .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
