.Navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    width: 96vw;
    height: 2.8rem;
    transform: translateX(-50%);
    background-color: var(--bg);
    /* border-bottom: 0.1rem solid var(--primary-text); */

    z-index: 500;
}

.Navbar p,
.Navbar a {
    font-family: "IBM Plex Mono", serif;
    color: var(--primary-text);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.85rem;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}

.Navbar .left p {
    margin-right: 1.15rem;
}

.Navbar .right a {
    margin-left: 1.15rem;
}

.Navbar > div {
    display: flex;
}

.Navbar > .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
