.Navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    width: 96vw;
    height: 2.8rem;
    transform: translateX(-50%);
    background-color: #10161e;
    border-bottom: 0.1rem solid white;

    z-index: 100;
}

.Navbar p,
.Navbar a {
    font-family: "Imbue", serif;
    color: white;
    font-size: 1.35rem;
    font-weight: 300;
    margin-top: .75rem;
    letter-spacing: .04rem;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}

.Navbar .left p {
    margin-right: 1.15rem;
}

.Navbar .right a {
    margin-left: 1.15rem;
}

.Navbar > div {
    display: flex;
}

.Navbar > .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
