.Footer {
    width: 96vw;
    line-height: 2rem;
    margin-top: 3rem;
    color: white;
    border-top: 1px solid white;
    text-align: center;
    font-family: "Imbue", serif;
    text-transform: uppercase;
    word-spacing: .5rem;
}