.ProjectBar {
    width: 96vw;
    border-top: .1rem solid white;

    cursor: pointer;
}

.ProjectBar:last-child {
    border-bottom: .1rem solid white;
}

.ProjectBar .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 2.25rem 0;
}

.ProjectBar .left-bar {
    display: flex;
    align-items: flex-end;
}

.ProjectBar h2 {
    font-family: "Imbue", serif;
    font-size: 2.3rem;
    font-weight: 500;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    margin-right: 1.5rem;
}

.ProjectBar h1 {
    font-family: "Imbue", serif;
    font-size: 6rem;
    font-weight: 500;
    color: white;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.ProjectBar p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}