.App {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    background: var(--bg);
}

.App.clip {
    clip-path: circle(0rem at 96.75vw calc(5rem + var(--scroll-y)));
    z-index: 200;
}

.App.expanded {
    clip-path: circle(1000% at 50% 50%);
    transition: clip-path 3s ease-in-out;
}

.App .theme-toggle-wrapper {
    position: fixed;
    top: 3.5rem;
    right: calc(2vw - .5rem);
    padding: .5rem;

    background-color: var(--bg);
    border-radius: 50%;

    cursor: pointer;
    z-index: 300;
}

.App .theme-toggle-wrapper > svg {
    fill: var(--primary-text);
}

.Light {
    --bg: rgb(235, 235, 235);
    --primary-text: rgb(45, 45, 45);
    --secondary-text: rgb(137, 137, 137);
    --unhighlighted-text: rgb(180, 180, 180);
}

.Dark {
    --bg: rgb(16, 22, 30);
    --primary-text: rgb(255, 255, 255);
    --secondary-text: rgb(168, 168, 168);
    --unhighlighted-text: rgb(49, 49, 49);
}
