.Blob {
    height: 100%;
    width: 100%;
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.Blob svg {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
    transform: translate(calc(-50% + 2rem), -50%);
}
